
http://:2015 {
	log stdout
	errors stdout
	root /app/data/www

	gzip

	# redirect by default to the login form
	redir 302 {
		if {path} is /
		/ /signin/v1/identifier
	}

	# Konnect
	proxy /upstreams/konnect/ {
		without /upstreams/konnect/
		upstream 127.0.0.1:8777
		policy least_conn
		health_check /health-check
		fail_timeout 10s
		try_duration 30s
		keepalive 100
		transparent
		header_downstream Feature-Policy "midi 'none'"
		header_downstream X-Frame-Options "sameorigin"
	}
	ratelimit * 100 200 minute {
		/upstreams/konnect/v1/
		/signin/v1/identifier/_/
		whitelist 127.0.0.1/8
	}
	rewrite /.well-known/openid-configuration {
		to /upstreams/konnect/{path}
	}
	rewrite /konnect/v1/ {
		to /upstreams/konnect/{path}
	}
	rewrite /signin/v1/ {
		to /upstreams/konnect/{path}
	}
	redir /signin /signin/v1/identifier
}
